<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <a class="panel-block">
      <%= Faker::CryptoCoin.coin_name %>
    </a>
    <a class="panel-block">
      <%= Faker::Company.name %>
    </a>
    <a class="panel-block">
      <%= Faker::Restaurant.name %>
    </a>
    <a class="panel-block">
      <%= Faker::Game.title %>
    </a>
    <a class="panel-block">
      <%= Faker::Nation.capital_city %>
    </a>
    <a class="panel-block">
      <%= Faker::Science.scientist %>
    </a>
  </nav>
</div>